/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playwrite AT", cursive;
    background-color: #fdf0f0;
}

#lock-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#e66465, #9198e5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

.timer-container {
    text-align: center;
    color: #1b1b16;
}

#timer {
    font-size: 3.5rem;
    font-weight: bold;
    color: #720b0b;
    text-shadow: 0 0 15px rgba(255, 77, 109, 0.5);
    margin-top: 15px;
}


.loading {
    font-style: italic;
    opacity: 0.7;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}